<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Shoes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/admin/addShoe">Add Shoe</a>
    <a href="/logout">Logout</a>
</nav>
<section>
    <h1>List of Shoes</h1>
    <table>
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shoe : ${shoes}">
            <td th:text="${shoe.brand}"></td>
            <td th:text="${shoe.model}"></td>
            <td th:text="${shoe.size}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
